@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Balsamiq+Sans");

/**
This file contains the general and shared style of your application.
 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bodyClass {
  font-family: "Balsamiq Sans", sans-serif;
  background: linear-gradient(wheat, chocolate);
  width: calc(100% - 0px);
  height: calc(100% - 50px);
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

.error{
  max-width:40%;
  height:auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visible{
  width: 10%;
  height: 8%;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  background: #fc8600 no-repeat center;
  background-size: 50%;
  background-image: url(https://image.flaticon.com/icons/png/512/57/57122.png);
}

